#myCanvas {
    padding-left: 25em;
}

body {
    background-color: #66492f;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-weight: lighter;
    font-size: large;
    color: #fcebd9;
    text-align: center;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size: large;
    color: #fcebd9;
    text-align: center;
}